<div class="max-w-[600px] text-center mx-auto z-20 pt-20">
   <h1 class="text-heading-color text-[2rem] mb-1">Our Collection</h1>
   <p class="text-[#6F757C] text-[1rem]">
      Introducing our Coffee Collection, a selection of unique coffees from
      different roast types and origins, expertly roasted in small batches and
      shipped fresh weekly.
   </p>
   <div class="flex justify-center gap-x-10 py-6 font-bold">
      <button class="text-[#FEF7EE] bg-[#6F757C] px-3 py-2 rounded-lg"
         >All Products</button
      >
      <button
         id="available"
         class="text-[#FEF7EE] hover:bg-[#6F757C] px-3 py-2 rounded-lg"
         >Available Now</button
      >
   </div>
</div>
